.animation-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.animation-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.custom-card-text {
    line-height: 1.4; /* Adjust line height */
    margin-bottom: 0.5rem; /* Adjust margin between lines */
  }
  